/* banner左侧导航栏 start */
.grid{
    height: 480px;
    position: relative;
}
.grid-col1{
    width: 190px;
    height: 100%;
    background-color: #6e6568;
    color: #fff;
    font-size: 14px;
}
.grid-col1 a{
    color: #fff;
    font-size: 14px;
    margin: 0 3px;
}
.grid-col1 a:hover{
    color: rgb(219, 34, 34);
}
.grid-col1 ul{
    padding: 10px 0;
}
.grid-col1 ul li{
    padding-left: 12px;
    height: 29px;
    line-height: 26px;
}
.grid-col1 ul li:hover{
    background-color: #9c9698;
}
.grid-col2{
    width: 590px;
    height: 100%;
    margin-left: 10px;
}
.grid-col3{
    width: 190px;
    height: 100%;
}
/* banner左侧导航栏 end */
/* banner部分  start*/
.grid-col2-t{
    margin: 10px 0;
    position: relative;
}

/* 箭头部分 start */
.arrow-l,
.arrow-r{
    position: absolute;
    top: 50%;
    width: 30px;
    height: 60px;
    background-color: rgba(0,0,0,0.2);
    transform: translateY(-50%);
}
.arrow-l,
.arrow-r{
    font-family: "icomoon";
    font-style: normal;
}
.arrow-l i{
    position: absolute;
    top: 30%;
    left: 10%;
    font-size: 25px;
    transform: rotateY(-50%);
}
.arrow-r i{
    position: absolute;
    top: 30%;
    left: 10%;
    font-size: 25px;
    transform: rotateY(-50%);
}
.arrow-l:hover,
.arrow-r:hover{
    background-color: rgba(0,0,0,0.4);
}
.arrow-r{
    right: 0;
}
.circle{
    width: 165px;
    height: 20px;
    background: rgba(255, 255, 255, 0.3);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /* top: 95%; */
    bottom: 20px;
    border-radius:10px;
    padding-left: 7px;
}
.circle li{
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    float: left;
    margin: 4px;
    /* margin-left: 8px; */
    cursor: pointer;
}
.circle .current{
    background-color: rgb(240, 15, 15);
}
.grid-col4{
    width: 190px;
    height: 150px;
    background-color: pink;
    position: absolute;
    top: 10px;
    right: 200px;
}
.grid-col4 li{
    margin: 7px 0 0 0;
    cursor: pointer;
}
.grid-col4 li:hover{
    color: rgba(255,255,255,0.3);
}
.grid-col4 li:first-child{
    margin-top: 0;
}
.grid-col3{
    width: 190px;
    height: 98%;
    background-color: red;
    position: relative;
    top: 10px;
    right: 0;
}
.login{
    height: 85px;
    border-bottom: 1px solid #ccc;
    background-color: pink;
    padding: 15px;
    position: relative;
}
.login-t{
    position: relative;
    width: 95px;
    top:10px;
    height: 60px;
    line-height: 20px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
   color:#666;
   padding-left: 60px;
}
.login-t a{
   color: #666;
}
.login-t a:hover{
    color: #f10512;
}
.user-info{
    width: 50px;
    /* height: 50px; */
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
.news{
    height: 155px;
    border-bottom: 1px solid #ccc;
    background-color: purple;    
}
.expand{
    height: 198px;
    background-color: skyblue;

}
/* 箭头部分 end */
/* banner部分  end*/
